#h1{

    font-size: 28px;
    color: brown;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 4px;
    padding-top: 4px;
    background-color: aqua;
}

#job{

    font-size: 18px;
    color: blue;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 2px;
}

.summary{

    font-size: 16px;
    line-height: 20px;
}

body{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
}

#ul1{

    margin: 0px 0px 0px 0px ;
}