*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

header{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top :5vh;
}

p{
  font-weight: bold;
  font-size: 24px;
}

section{
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 2px;
  position: absolute;
  left: 39vw;
  top: 23vh;
}

.cell{
  width: 100px;
  height: 100px;
  border: 3px solid #444;
  border-radius: 12px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.cell:hover{
  transform: scale(1.01);
  box-shadow: 0 8px 15px rgba(0,0,0,0.25);
}

/* .cell{
  background-color: rgb(222, 224, 226);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  cursor: pointer;
  border-radius: 10px;  
}

.cell:hover{
  background-color: rgb(140, 142, 143);
} */

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 80vh;
}

button{
  padding: 15px 35px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(45deg,#6a11cb,#2575fc);
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

button:hover{
  transform: translateY(-3px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.25);
}

/* button{
  width: 100px;
  height: 50px;
  margin-top: 30px;
  font-size: 12px;
  border-radius: 5px;
}

button:hover{
  cursor: pointer;
  background-color: rgb(140, 142, 143);
} */